@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  font-family: "Poppins", sans-serif;
}

/*****************
Transiciones de la página
*****************/
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*****************
Sección Home
*****************/
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #51ecb8 50%, rgb(0, 195, 255) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

#home-img {
  border-radius: 50%;
  box-shadow: black 3px 10px;
  opacity: 90%;
}
/*Animacion*/
.container {
  color: #e5e5e5;
  text-shadow: black 3px 5px;
  font-size: 2vw;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.animation {
  height:70px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 10s infinite;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

/***************
Sección Menú
****************/
#wtsp-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 45px 130px;
}
#wtsp-button:hover {
  transform: translatey(5px);
  transition: all 0.3s;
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
    transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
    transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
    transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
    transform: translatey(0px) scale(1);
    opacity: 1;
  }
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 70px 20px;
}
.floating-container:hover {
  height: 500px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
  animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
  animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
  animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 4vw;
  height: 7vh;
  background: #2cb3f0;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  color: white;
  line-height: 95px;
  text-align: center;
  font-size: 50px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 50px auto;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 70px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
.nav-titles {
  text-shadow: black 1px 2px;
  font-size: 15px;
  margin: -10px;
}
.floating-container .float-element:nth-child(1) {
  background: #52e09e;
  box-shadow: 0 20px 20px -10px #52e09e;
}
.floating-container .float-element:nth-child(2) {
  background: #6dece2;
  box-shadow: 0 20px 20px -10px #6dece2;
}
.floating-container .float-element:nth-child(3) {
  background: #42d1f5;
  box-shadow: 0 20px 20px -10px #42d1f5;
}

/********************
Seccion Sobre mí
***************************/

#sobre-mi {
  margin-top: 650px;
}
#foto-perfil {
  height: 30vh;
  width: 15vw;
  border-radius: 50%;
}
/*******************
Footer 
********************/
footer {
  background-color: white;
}
#lista-de-enlaces {
  list-style: none;
}
#networks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#networks li {
  margin-left: 0.5rem;
}
#creditos {
  justify-self: center;
}
